* {
  margin:0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(250, 250, 250);

  text-align: center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.contenedor {
  min-height: 99vh;
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 2fr 2fr 1f;
  row-gap: 2px;

}

header{
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: 1fr 2fr;
}

.menu {
  grid-row: 1 / 2;
  background-color: rgb(0, 74, 124);
}

nav { 
  display: flex;
  align-items: center;
  justify-content: center;
}

nav li{
  display:inline-block;
  color: rgb(232, 241, 245);
  font-size: 25px;
}

li a {
  text-decoration: none;
  color: rgb(232, 241, 245);
  font-size: 27px;
}

.portada {
  grid-row: 2 / 3;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../img/portada_nos.jpg");
  background-position: center;
  background-size: cover;
}

.portada h1 {
  color: rgb(250, 250, 250);
  font-size: 50px;
  -webkit-text-stroke: 1px rgb(0, 74, 124, 0.4);
}

main {
  grid-row: 3 / 4;
  flex-direction: column;
  gap: 1rem;
  display: flex;
  align-items: center;
  font-family:Verdana, Tahoma, sans-serif;
}

.laboral {
  display: flex;
  max-width: 120rem;
  background-color: rgb(0, 86, 145);
  border-radius: 2px;
}

.art_laboral {
  flex:1;
  color: rgb(232, 241, 245);
  text-align:start;
  padding: 0.5rem;
}

.art_laboral p{
  margin-top: 0.5rem;
}

.img_laboral {
  flex: 1;
  background-image: url("../img/oportunidadLaboral.jpg");
  background-position: center;
  background-size: cover;
}

.producto {
  display: flex;
  max-width: 120rem;
  background-color: rgb(0, 86, 145);
  border-radius: 2px;
}

.art_producto {
  flex: 1;
  color: rgb(232, 241, 245);
  text-align:start;
  padding: 0.5rem;
}

.art_producto p{
  margin-top: 0.5rem;
}

.img_producto {
  flex:1;
  background-image: url("../img/productos.jpg");
  background-position: center;
  background-size: cover;
}

footer {
  grid-row:4 / 5;
  font-size: 12px;
  color: rgb(0, 86, 145);
}